<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TesteOPC.Properties.Settings.IloggerConnectionString"
            connectionString="Data Source=EWS01\FTVIEWX64TAGDB;Initial Catalog=Ilogger;Persist Security Info=True;User ID=sa;Password=PlantPAx4"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>